div > img {
    padding-top: -100px;
    max-width: 680px;
    height: 720px;
}

div > picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: #da9c47da;
}

div {
    background-color: #ffffff;
    border-radius: 1pc;
    box-shadow: 3pc 3pc 5pc #b98438da;
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
}

div > h1{
    font-family: 'Mistral', Arial, sans-serif;
    color: #5c382f;
    font-size: 5pc;
    display: block;
    text-align: center;
    margin-bottom: 50px;
    padding-top: 40px;
    padding-bottom: -60px;
}

div#contato {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    max-width: 720px;
    padding-bottom: 40px;
    margin-top: -28px;
    margin-bottom: 15px;
}

div#contato > img {
    background-color: #ffffff;
    width: 30px;
    height: 30px;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 10px;
}
